<br />
<div class="col-xs-6 col-md-6 col-lg-6">
  <div class="thumbnail">
    
    <table class="table">
      <tr><th colspan="2" id="tableTitle"><h3>Users</h3></th></tr>
        <tr ng-repeat="user in users" ng-if="user.username != currentUser.username">
          <td>
            {{user.pubData.firstName}} {{user.pubData.lastName}}'s public profile
          </td>
          <td>
            <button class="btn btn-primary pull-right" ng-click="viewUser(user)">Visit Profile</button>
          </td>
        </tr>
      
    </table>
  </div>
</div>