body {
  padding-top: 50px;
}

th {
  font-weight: bold;
}

#dateDisplay{
  width: 115px;
}

#tableTitle {
  font-weight: bold;
}

#welcomeMessage {
  font-weight: bold;
}

.btn {
  /*width: 7em;*/
  text-shadow: gray 5px 3px 3px;
}

.btn-right {
  float: right;
}
.container {
  float: left;
}

form {
  /*border: 2px black solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius:15px;

box-shadow:inset 1px 1px 2px #999;
-webkit-box-shadow:inset 1px 1px 2px #999;
-moz-box-shadow:inset 1px 1px 2px #999;
-khtml-box-shadow:inset 1px 1px 2px #999;*/
}


@media screen and (max-width: 768px) {
  /* Small Devices: set container to 600px*/
  .container {
    width: 600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Tablet View: set container to 750px*/
  .container {
    width: 750px;
  }

  vertical-align: middle;
}

@media screen and (min-width: 970px) {
  /* Desktop View: set container to 970px*/
  .container {
    width: 90%;
  }
  vertical-align: middle;
  }