<h1>My Profile</h1>
<hr />

<div class="container container-fluid">
  


  <div ng-show="{{currentuser.roles.indexOf('student')}} '> -1'">
    <!--<h2>Student</h2>-->
  </div>

  


  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div id="tableTitle">User Data</div>
      <table class="table table-responsive table-striped table-bordered">
        <tr>
          <th>Username</th>
          <th>User Role</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Number of Favorites</th>
          <th>Number of Comments</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>{{currentUser.username}}</td>
          <td>
            {{currentUser.roles}}           
          </td>
          <td>{{currentUser.pubData.firstName}}</td>
          <td>{{currentUser.pubData.lastName}}</td>
          <td>Size: {{currentUser.bookshelf.length}}</td>
          <td>Size: {{currentUser.pubComments.length}}</td>
          
          <td><button class="btn btn-warning pull-right" ng-click="openUpdateUserModal(currentUser)">Update</button></td>
        </tr>
      </table>
    </div>    
  </div>
  <div class="row">


    <div class="col-xs-6 col-md-6 col-lg-6">
      <div id="tableTitle">Comment Feed</div>
      <table class="table table-responsive table-striped table-bordered">
        <tr ng-repeat="comment in pubComments">
          <td>From:<br />{{comment.srcUserName}}</td>
          <td>Comment:<br />{{comment.bodyPublic}}</td>
        </tr>
      </table>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6">
      <div id="tableTitle">Favorites</div>
      <table class="table table-responsive table-striped table-bordered">
        <tr ng-repeat="book in favorites">
          <td>
            <img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="Generic placeholder thumbnail" height=50>
          </td>
          <td>
            {{book.volumeInfo.title}}
          </td>
          <td>
            <button ng-click="removeFavorite(book)" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div ng-show="{{currentuser.roles.indexof('admin')}} '> -1'">
          Admin
          <table class="table table-responsive table-striped table-bordered">
            <tr>
              <td>Username</td>
              <td>Role</td>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Number of Saved Books</td>
              <td>Number of Comments</td>
              <td>Actions</td>
            </tr>
            <tr ng-repeat="user in users" ng-if="user.username != currentUser.username">
              <td>{{user.username}}</td>
              <td>{{user.roles}}</td>
              <td>{{user.pubData.firstName}}</td>
              <td>{{user.pubData.lastName}}</td>
              <td>{{user.bookshelf.length}}</td>
              <td>{{user.pubComments.length}}</td>
              <td>
                <button class="btn btn-danger pull-right" ng-click="delUser(user)">Delete</button>
                <button class="btn btn-warning pull-right" ng-click="openUpdateUserModal(user)">Update</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>


<!--Update Modal Below-->
<div class="modal fade" id="openUpdateUserModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <form class="form form-horizontal" name="userUpdateForm" id="userUpdate-form"><div class="form-group">
            <label class="col-sm-3 control-label" for="name">First Name</label>
            <div class="col-sm-8">
              <input ng-model="updateUser.pubData.firstName" id="name" name="name" type="text" class="form-control" placeholder="{{updateUser.pubData.firstName}}" />
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-3 control-label" for="name">Last Name</label>
          <div class="col-sm-8">
            <input ng-model="updateUser.pubData.lastName" id="name" name="name" type="text" class="form-control" placeholder="{{updateUser.pubData.lastName}}" />
          </div>
      </div>
        </form>
    </div>
      <div class="modal-footer">
        <button ng-click="updateUserInDb(updateUser)" type="button" class="btn btn-primary">Ok</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>

</div>
  